*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 2%;
  background-color:#faeee7;
}

nav h3{

}

header nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
header nav ul Link{
  text-decoration: none;
}
.logo{
  color: #ffbbcc;
text-decoration: none;
font-size: 1.5rem;
font-family: Lobster;
font-style: italic;
}
.link{
  text-decoration: none;
  color: #fff;
  border: #ffbbcc solid 1px;
  background-color:#5eb7b7;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-family: Lobster;
  font-size: 1rem;
}

.link:active{
  background-color:#9be3de;
}
/* .link2{
  background-color:#9be3de;
  
} */

.App div{
  text-align: center;
  padding: 1vh 0;
  background-color: #5eb7b7;
  color: #fff;
}